body{
  margin: 0;
  padding: 0;
  background-color: white;
}
.mjh-noticeDetail-main{
  width: 1200px;
  margin: auto;
}
h2{
  padding: 80px;
  font-size: 24px;
  text-align: center;
}
.mjh-noticeDetail-articel-title{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
img{
  height: 20px;
  width: 20px;
}
#text{
  padding: 80px;
  font-size: 24px;
}
hr{
  margin: 50px;
}
#listbutton{
  width: 120px;
  display: flex;
  margin: auto;
  margin-top: 120px;
  padding: 20px;
  justify-content: center;
  background-color: #a2a2a2;
  font-size: 25px;
}
hr{
  border: 1px solid black;
}
#category{
  color: #D96073;
}
#title{
  font-size: 24px;
  font-weight: bold;
}
.mjh-noticeDetail-content{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #a2a2a2;
  padding: 20px;
  width: 800px;
  margin-top: 200px;
}
#mjh-noticeDetail-moniter{
  height: 30px;
  width: 30px;
}
#mjh-noticeDetail-count{
  font-size: 30px;
  padding-left: 20px;
}
#mjh-noticeDetail-view{
  height: 30px;
  width: 40px;
  padding-left: 100px;
}
#mjh-noticeDetail-viewcount{
  font-size: 30px;
  padding-left: 20px;
}
#mjh-noticeDetail-share{
  height: 30px;
  width: 30px;
  padding-left: 100px;
}
#mjh-noticeDetail-sharecount{
  font-size: 30px;
  padding-left: 20px;
}

