/* 전체 화면 크기 조정 */
*{
margin: 0;
padding: 0;
}
/* header 영역 (임시) / */
header {
  border: 1px solid black;
  background-color: #D96073;
  width: 100%;
  height: 100px;
}

/* / main 영역 / */
.askBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* / main 안에 요소들이 담길 컨테이너 박스 (1200px 맞추기 위해 설정) / */
.bjs-ask-topcontainer {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* / 개발 큰 글씨 / */
.bjs-ask-title {
  font-size: 50px;
  margin: 50px;
}

/* / 개발 태그 버튼 담은 박스 / */
.bjs-ask-tag {
  display: flex;
  justify-content: center;
}

/* / 개발 태그 버튼 / */
.bjs-ask-tag-btn {
  border: 1px solid #D96073;
  color: #D96073;
  background: none;
  width: 170px;
  border-radius: 40px;
  padding: 10px 40px;
  margin: 20px 20px;
  cursor: pointer;
}

/* / 선택된 버튼 / */
.bjs-ask-select {
  background: #D96073;
  color: white;
}

/* / 개발 카테고리 버튼 담은 박스 / */
.bjs-ask-category {
  border: 1px solid black; 
  width: 100%;
  display: flex;
}

/* / 개발 카테고리 버튼 */
.bjs-category-btn {
  width: 100%;
  border-radius: 0;
  border: 1px solid black;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.Detail-content{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #DFDFDF;
  padding: 20px;
  width: 800px;
  margin-top: 200px;
  margin-bottom: 100px;
}
#Detail-moniter-img{
  height: 30px;
  width: 30px;
}
#Detail-monitercount, #Detail-viewcount, #Detail-sharecount{
  font-size: 30px;
  padding-left: 20px;
}
#Detail-share-img, #Detail-view-img{
  height: 30px;
  width: 35px;
  padding-left: 100px;
}
/* 드롭다운 */
.Detail-dropdown {
  position: relative;
  display: inline-block;
}
.Detail-dropdown-img {
  position: relative;
  padding-left: 100px;
  cursor: pointer;
  width: 40px; /* 이미지 크기 설정 */
  height: 40px;
}
.Detail-dropdown-menu {
  position: absolute;
  left: 150px;
  top: 20px;
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.Detail-dropdown-menu >a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.Detail-dropdown-menu a:hover {
  background-color: #f2f2f2;
}

/* 댓글과 댓글수 표시 */
.comment{
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  display: flex;
  justify-content: center;
  padding-right: 1000px;
}
.mjh-Detail-comment-content{
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: auto;
} 
/* 생성되는 댓글글 */
#comment-section{
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
}
/* 댓글 입력창창 */
#comment-input{
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  font-size: 15px;
  color: #a2a2a2;
  width: 1000px;
  height: 100px;
}
/* 올리기 버튼튼 */
#uploadbtn{
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #D96073;
  background-color: white;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
}
/* 생성되는 댓글박스 */
.commentTextbox{
  width: 1100px;
  height: 150px;
  margin: auto;
  background-color: #f5f5f5;
  margin-bottom: 30px;
  display: flex;
  font-size: 30px;
}

